.square {
  height: 10px;
  width: 10px;
}
.circle1 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #ea7b43;
  margin: 5px;
  opacity: .5;
}
.circle2 {
  border-radius: 50%;
  height: 37px;
  width: 37px;
  background: #ea7b43;
  margin: 5px 11.5px 5px 11.5px;
  opacity: .5;

}
.circle3 {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  background: #ea7b43;
  margin: 5px 19px 5px 19px;
  opacity: .5;
}
.circle4 {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background: #ea7b43;
  margin: 5px 24px 5px 24px;
  opacity: .5;
}
.container {
  padding: 10px;
  background-color: #181919;
  color: #B2B2B2;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.container2{
  background-color: #181919;
}

.diplaced-idps {
  align-content: center;
  float: left;
}
.text{
  float: right;
}
.text1{
  margin-top: 26px;
  margin-bottom: 0px;
  display: inline;
  padding-bottom: 10px;
  color: #B2B2B2;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.text2{
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
  display: inline;
  padding-bottom: 10px;
  color: #B2B2B2;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.text3{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #B2B2B2;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.text4{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline;
  padding-bottom: 0px;
  padding-top: 7px;
  color: #B2B2B2;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
