<div class="container">
  <div class="map" id="map" class="match-parent"></div>
  <app-overlay
    class="overlay"
    [currentSceneIndex]="currentSceneIndex"
    [scenes]="scenes"
  ></app-overlay>
  <div class='toggle' >
    <mat-checkbox
      *ngFor="let layer of toggleableLayerIdsList"
      [value]="layer.id"
      [checked]= "layer.checked"
      (change)="toggleLayer(layer.id)">{{layer.displayName}}
    </mat-checkbox>
    <button mat-raised-button
    class='buttons'
    color='#cdcdcd'
    (click)="changeScene('prev')">prev</button>
    <button mat-raised-button
    class='buttons'
    color='#cdcdcd'
    (click)="changeScene('next')">next</button>
  </div>
</div>
