<div fxLayout="row" fxLayoutAlign="space-between">
  <mat-card class="overlay">
    <mat-card-header>
      <mat-card-title>{{displayScene('title')}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{displayScene('info')}}</p>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button type="button" name="button" (click)="changeScene('prev')">prev</button>
      <button mat-button type="button" name="button" (click)="changeScene('next')">next</button>
    </mat-card-footer>
  </mat-card>
  <div class="map" id="map" class="match-parent"></div>
  <!-- <div class='toggle' >
    <mat-checkbox
      *ngFor="let layer of toggleableLayerIdsList"
      [value]="layer.id"
      [checked]= "isChecked"
      (change)="toggleLayer(layer.id)">{{layer.displayName}}
    </mat-checkbox>
  </div> -->
</div>
