<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Suburb Column -->
  <ng-container matColumnDef="suburb">
    <mat-header-cell *matHeaderCellDef> Suburb </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.suburb}} </mat-cell>
  </ng-container>

  <!-- Negligible to slight damage Column -->
  <ng-container matColumnDef="negligible">
    <mat-header-cell *matHeaderCellDef> Negligible to slight damage </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.negligible}} </mat-cell>
  </ng-container>

  <!-- Moderately Damaged Column -->
  <ng-container matColumnDef="moderately">
    <mat-header-cell *matHeaderCellDef> Moderately Damaged </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.moderately}} </mat-cell>
  </ng-container>

  <!-- Highly Damaged Column -->
  <ng-container matColumnDef="highly">
    <mat-header-cell *matHeaderCellDef> Highly Damaged </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.highly}} </mat-cell>
  </ng-container>

  <!-- Completely Destroyed Column -->
  <ng-container matColumnDef="destroyed">
    <mat-header-cell *matHeaderCellDef> Completely Destroyed </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.destroyed}} </mat-cell>
  </ng-container>

  <!-- Total Buildings Column -->
  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef> Total Buildings </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
